*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.claude
.temp
.idea
.kotlin

app/src/main/jniLibs/
app/libs/*.jar
app/libs/*.aar
*.so

third_party/build_android
third_party/build_gen
third_party/build/
